.flowing-background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

[data-theme='dark'] .flowing-background-canvas {
  background-color: var(--cor-fundo-principal);
}