.navbar {
  width: 100%;
  max-width: 1200px;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 0.5s ease-in-out;
  background-color: var(--cor-fundo-secundario);
  padding: 0.8rem 2.5rem;
  border-radius: 50px;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  justify-content: flex-start; 
  overflow: hidden;
}

/* Classe para esconder com o scroll */
.navbar.hidden {
  transform: translate(-50%, -150%);
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.navbar-links li a {
  color: var(--cor-texto-secundario);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: var(--cor-destaque);
}


.line {
  position: absolute;
  background-color: var(--cor-borda-animada);
  box-shadow: 0 0 10px var(--cor-borda-animada);
  width: 0;
  height: 0;
}

.line-top { top: 0; left: 0; height: 1.5px; }
.line-right { top: 0; right: 0; width: 1.5px; }
.line-bottom { bottom: 0; right: 0; height: 1.5px; }
.line-left { bottom: 0; left: 0; width: 1.5px; }

@keyframes animate-width { 100% { width: 100%; } }
@keyframes animate-height { 100% { height: 100%; } }

/* Gatilho da animação */
.navbar.visible .line-top {
  animation: animate-width 0.4s linear forwards;
}
.navbar.visible .line-right {
  animation: animate-height 0.4s linear forwards;
  animation-delay: 0.4s;
}
.navbar.visible .line-bottom {
  animation: animate-width 0.4s linear forwards;
  animation-delay: 0.8s;
}
.navbar.visible .line-left {
  animation: animate-height 0.4s linear forwards;
  animation-delay: 1.2s;
}

/* Reset da animação */
.navbar.hidden .line {
  animation: none;
}