@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Sans+3:wght@400&display=swap');

:root {
  --cor-fundo-principal: #000000;      
  --cor-fundo-secundario: #111111;     
  --cor-fundo-conteudo: #ffffff;    

  --cor-texto-principal: #ffffff;       
  --cor-texto-secundario: #a0a0a0;      
  --cor-texto-inverso: #121212;      
  --cor-texto-inverso-secundario: #555555; 

  --cor-destaque: #ffffff;            
  --cor-borda-animada: #9933ff;    
  --fonte-titulos: 'Poppins', sans-serif;
  --fonte-corpo: 'Source Sans 3', sans-serif;
}

body {
  background-color: var(--cor-fundo-principal); 
  color: var(--cor-texto-principal); 
  margin: 0;
  font-family: var(--fonte-corpo);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

h2, h3, h4, h5, h6 {
  font-family: var(--fonte-titulos);
  font-weight: 700; /* Usamos o peso Bold (700) que importamos */
}